* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    font-size: 1.1em;
    color: #FFFFFF;
	background-color: #303030;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #537D52;
	outline-style: none;
}

#lock {
    background-image: image(
        url("images/lock.png"),
        url("/usr/share/wlogout/icons/lock.png"),
        url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(
        url("images/logout.png"),
        url("/usr/share/wlogout/icons/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(
        url("images/suspend.png"),
        url("/usr/share/wlogout/icons/suspend.png"),
        url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(
        url("images/hibernate.png"),
        url("/usr/share/wlogout/icons/hibernate.png"),
        url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(
        url("images/shutdown.png"),
        url("/usr/share/wlogout/icons/shutdown.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(
        url("images/reboot.png"),
        url("/usr/share/wlogout/icons/reboot.png"),
        url("/usr/local/share/wlogout/icons/reboot.png"));
}
